FUNCTIONS_REGION=europe-west1
TOK_DATABASE_INSTANCE=tok-familiar-default-rtdb
WHATSAPP_TRIGGER_ENABLED=true
WHATSAPP_GRAPH_API_VERSION=v25.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_DEFAULT_MODE=text
WHATSAPP_DEFAULT_TEMPLATE=
WHATSAPP_DEFAULT_TEMPLATE_LANG=en_US
WHATSAPP_ALERTS_DEFAULT_TO=